<mat-toolbar color="primary" class="crm-navigation-bar">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
        <span class="toolbar-title"> Sistema de control </span>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
            <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                <li>
                    <button mat-icon-button>
                      <mat-icon>settings</mat-icon>
                    </button>
                </li>

                <li>
                    <button mat-icon-button>
                      <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="auth">
                      <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #auth="matMenu">
                        <button mat-menu-item (click)="logout()">
                          <mat-icon>exit_to_app</mat-icon>
                          <span>Sign out</span>
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>