<mat-card style="width:400px; margin-left: 400px; margin-top: 100px;">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="example-form">
        <div>
            <mat-form-field>
                <input matInput placeholder="Usuario" [formControl]="username" required>
                <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="openSnackBar()" color="primary">Login</button>
    </mat-card-actions>
</mat-card>


<div>
    <button md-raised-button color="primary" (click)="openSnackBar()">Click to see snack bar</button>
</div>