.login-container {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-top: 60px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}