<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
        <mat-toolbar>
            <mat-toolbar-row>
                <h2 class="toolbar-title"> APP_TOOLBAR_TITLE </h2>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-nav-list>
            <h2 matSubheader> MY_WORK </h2>
            <a mat-list-item routerLink="/" style="height: 0;"></a>
            <a *ngFor="let item of myWorkRoutes" mat-list-item (click)="sidenav.close()" routerLinkActive #routerLinkActiveInstance="routerLinkActive" [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
                <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
                {{item.title}}
            </a>
            <mat-divider></mat-divider>
            <h2 matSubheader> CUSTOMERS </h2>
            <a *ngFor="let item of customerRoutes" mat-list-item (click)="sidenav.close()" routerLinkActive #routerLinkActiveInstance="routerLinkActive" [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
                <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
                {{item.title}}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-navigation-bar (toggleSidenav)="sidenav.toggle()"></app-navigation-bar>
        <mat-progress-bar *ngIf="loading" color="accent" mode="determinate">
        </mat-progress-bar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>